.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  align-items: flex-end;
  align-content: center; 
  justify-content: space-between;    
}

form > button {
  font-size: 14px;
}

label {
  display: block;
  margin: 10px;
}

label, i, p {
  font-weight: bold;  
}

input, .progress-data {
  font-size: 16px;  
}

input, form button, .progress-data {
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  outline: none;
  font-weight: bold;  
  line-height: 16px; 
  text-transform: uppercase; 
}

input {
  box-sizing: border-box;
  text-align: center;  
  width: 150px;
  height: 50px;    
  background-color: none;
}

form button {
  background: white;  
  height: 50px;
  width: 100px;
}

.progress {
  margin-top: 50px;
}

.progress-headers {
  list-style: none;
  display: flex;  
  margin-right: 20px;
}

.progress-data {    
  max-width: 600px;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.progress-data li {
  position: relative;
  list-style-type: none;  
  max-width: 200px;
  margin: 20px;
  padding: 0;
}

.progress-data li > span {
  display: inline-block;
  padding: 15px;
}

.progress-data button {
  background: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button {
  width: 25px;
  margin: 11px 9px;   
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  color: transparent;
  opacity: 1;
  background: url(https://image.freepik.com/free-icon/_318-9776.jpg) no-repeat center;
  background-size: contain;
}

input[type="date"]::-webkit-calendar-picker-indicator {   
    position: absolute;
    left: 3px;
    top: 15px;
    width: 10px;
    margin: 0 3px;    
}

input[type="date"]::-webkit-datetime-edit-text {   
  text-align: center;  
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper { 
  position: absolute;
  left: 26px;   
  top: 14px;
}

input[type="date"]::-webkit-datetime-edit { 
  background: coral;
}

.delete-btn {
  z-index: 3;
}

.delete-btn i, .delete-btn {  
  font-size: 14px;
  line-height: 20px;
  outline: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid black;
  border-radius: 10px;
  top: -10px;
  right: -10px;
}

/* ===========  WATCHES  ============== */

.clock {
  display: block;
  position: relative;
  background: Seashell;
  width: 140px;
  height: 140px;
  border: 10px outset coral;
  border-radius: 70px;  
  margin: auto;
}

.clock:after {
  content: "";
  display: block;
  position: absolute;
  background: coral;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  z-index: 8;  
  top: 60px;
  left: 60px;
  
}


.hour, .min, .sec {
  display: block;
  position: absolute;  
  transform: rotate('90deg');
}

.hour { 
  display: block;
  position: absolute;  
  background: Indigo;
  width: 60px;
  height: 5px;
  top: 67.5px;
  left: 67.5px; 
  z-index: 3;  
}

.min {
  background: MediumOrchid;
  width: 70px;
  height: 3px;
  top: 68.5px;
  left: 68.5px; 
  z-index: 2; 
}

.sec {
  background: Tan;
  width: 70px;
  height: 3px;
  top: 68.5px;
  left: 68.5px; 
  z-index: 1;
} 

.rotate-hours {
  position: absolute;
  transform-origin: 0 bottom;  
}

.rotate-min {
  position: absolute;
  transform-origin: 0 bottom;   
}

.rotate-sec {
  position: absolute;
  transform-origin: 0 bottom;   
}
